.app-header {
    max-width: 572px;
    width: 100%;
    margin: 0 auto;
    font-family: 'Unbounded';
    z-index: 100;
    background: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    height: 60px;
}

.app-branding {
    display: flex;
    align-items: center;
    gap: 10px;
}

.app-branding .app-logo {
    display: flex;
}

.app-branding .app-logo img {
    width: 32px;
}

.app-header .app-menu {
    display: flex;
    gap: 8px;
}

.app-menu .menu-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 32px;
    color: #a1a1a1;
    transition: all .3s ease;
    cursor: pointer;
}

.menu-item:hover {
    scale: .9;
}

.app-menu .notification-icon {
    position: relative;
}

.app-menu .notification-icon.active::after {
    position: absolute;
    content: '';
    background: #FF5F62;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    top: 6px;
    right: 6px;
}