.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 105;
    display: flex;
    align-items: center;
    margin: 0;
    border-bottom: 1px solid #dcdcdc;
    background-color: #FFFFFF;
    height: 48px;
}

.header .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    margin: .5rem;
}

.header-content>div {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.profile-image {
    position: sticky;
    top: 48.8px;
    width: 100%;
    min-width: 300px;
    min-height: 300px;
    aspect-ratio: 1 / 1;
}

.profile-image img {
    width: 100%;
    min-width: 300px;
    min-height: 300px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    overflow: hidden;
}


.profile-header-image {
    width: 32px;
    height: 32px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
}

.profile-header-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #000000;
}

.profile-header-info .profile-name {
    font-size: 0.8em;
    font-weight: 500;
}

.profile-header-info .profile-online {
    font-size: 0.75em;
    font-weight: 300;
    opacity: 0.9;
}

.profile-info .profile-name {
    font-size: 1.05em;
    font-weight: 500;
}

.profile-info .profile-online {
    font-size: 0.85em;
    font-weight: 300;
    opacity: 0.9;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tag {
    background-color: #e9edff;
    padding: 0.25rem;
    border-radius: 0.5rem;
}

.tag-div:hover {
    cursor: pointer;
}

.button>img {
    transition: all .3s ease;
}

.button:hover>img {
    transform: scale(1.1);
}

.button:active>img {
    transform: scale(0.9);
}