.description-wrapper {
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    border: 1px solid #dcdcdc;
    margin: 0 0.5rem;
}

.desc-element {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem;
}

.desc-element+.desc-element {
    border-top: 1px solid #dcdcdc;
}

.desc-name {
    font-size: 0.8em;
}