.main {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 144px;
}

.hero {
    position: sticky;
    top: 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 0 5px;
    background-color: #FFFFFF;
}

.hero .back {
    font-family: var(--font-unbounded);
    font-size: 14px;
    font-weight: 600;
    color: #0066DE;
}

.hero h1 {
    font-family: var(--font-unbounded);
    font-size: 20px;
    font-weight: 700;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input ::placeholder {
    font-size: 14px;
    font-family: var(--font-unbounded);
    color: #4E4E4E;
}

.input label,
.title {
    font-size: 14px;
    font-weight: 600;
    color: #797979;
    font-family: var(--font-unbounded);
}

.input input,
.input select {
    font-family: var(--font-unbounded);
    font-size: 14px;
    font-weight: 500;
    border-radius: 15px;
    background: #F1F1F1;
    padding: 19px;
    border: none;
    color: #4E4E4E;
    appearance: none;
}

.upload-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-unbounded);
    color: #0066DE;
    gap: 10px;
}

.upload-container {
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    aspect-ratio: 1 / 1;
    width: 100%;
    height: 100%;
    background-color: #F0F0F0;
    border-radius: 20px;
    overflow: hidden;
    transition: all .2s ease-in-out;
}

.upload-wrapper .upload-icon {
    width: 60px;
    height: 60px;
    user-select: none;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0px 4px 20px #00000008;
}

.upload-wrapper label {
    font-weight: 500;
}

.upload-wrapper label:hover {
    cursor: pointer;
}

.upload-wrapper input.file {
    position: absolute;
    opacity: 0;
}

.upload-container:hover {
    outline-offset: -16px;
}

.uploaded .upload-container {
    outline: none;
}

.uploaded .upload-icon {
    display: none;
}

.uploaded-image {
    display: none;
}

.uploaded .uploaded-image {
    display: block;
    width: 100%;
}

.footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(0deg, transparent, white);
    backdrop-filter: blur(5px);
    padding: 0 30px 40px;
    text-align: center;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    width: 100%;
    max-width: 512px;
    border-radius: 15px;
    font-size: 14px;
    font-family: var(--font-unbounded);
    border: none;
    margin: 0 auto;
    transition: all 0.3s;
}

.button.next {
    color: #FFFFFF;
    background: #0066DE;
}

.button.next:active {
    background: #0057BC;
}

.button.next:disabled {
    background: #E8E8E8;
    color: #B1B1B1;
}