body {
    height: 100svh;
    display: flex;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

button:disabled {
    background: #fff;
}