@font-face {
    font-family: 'Unbounded';
    src: url('/fonts/unbounded.ttf');
}

* {
    font-family: 'Unbounded';
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    margin: 0;
    padding: 0;
    height: 100vh;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 2rem 1rem;
    min-width: 300px;
}

section>.tagmate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 0.8rem;
    margin-bottom: 2rem;
}

.tagmate .primary {
    font-size: 1.5em;
    font-weight: 600;
}

.tagmate .secondary {
    color: #00000090;
    font-size: 0.8em;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.button {
    text-decoration: none;
    text-align: center;
    padding: 1rem;
    border-radius: 1rem;
    border: 2px solid #0066de;
    appearance: none;
    -webkit-appearance: none;
    flex: 1;
    transition: all .2s linear;
}

.button-login {
    background-color: #0066de;
    color: #ffffff;
}

.button:active {
    transform: scale(90%);
}

.buttons span {
    text-align: center;
}

footer {
    position: absolute;
    text-align: center;
    bottom: 0;
}

footer .copyright {
    font-size: 0.8em;
    margin: 1rem 0;
}