@font-face {
    font-family: 'Unbounded';
    src: url('/fonts/unbounded.ttf');
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Unbounded';
}

a {
    text-decoration: none;
}

.title {
    margin: 1rem 0.5rem 0.25rem;
    font-size: 0.95em;
    font-weight: 600;
}

.profile-info {
    position: absolute;
    left: 0;
    right: 0;
    top: -72px;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    color: #FFFFFF;
    background: linear-gradient(0deg, rgba(70, 70, 70, 0.7) 0%, rgba(70, 70, 70, 0.5) 70%, rgba(70, 70, 70, 0.01) 100%);
    backdrop-filter: blur(2px);
    padding: 1rem 0.5rem;
}

.profile-header {
    z-index: 104;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;

    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
    background-color: #FFFFFF;
    border-bottom: 1px solid #dcdcdc;

    transition: all .5s cubic-bezier(0.19, 1, 0.22, 1);
}

.profile-header.hide {
    top: 0;
    opacity: 0;
}

.profile-header.display {
    top: 48.8px;
    opacity: 1;
}

