* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  position: relative;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  padding-bottom: 60px;
  font-family: var(--font-onest), var(--font-inter), var(--font-unbounded),
    system-ui, sans-serif;
}

input {
  touch-action: manipulation !important;
  font-size: 16px !important;
}

a {
  text-decoration: none;
}


input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

input {
  touch-action: manipulation !important;
  font-size: 16px !important;
}