.main {
    font-family: 'Unbounded';
    margin: 0 auto;
    max-width: 512px;
    width: 100%;
    flex: 1;
    margin-bottom: 20px;
    height: 100vh;
}

.mainСontent {
    display: flex;
    flex-direction: column;
    gap: 30px;
}