.user-gallery .gallery-wrapper {
    height: 280px;
    background: #F7F7F7;
    border-radius: 30px;
    padding: 20px 0;
    overflow: hidden;
}

.section-title {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
}

.gallery-wrapper .gallery-container {
    display: flex;
    align-items: center;
    gap: 10px;
    overflow-x: scroll;
    padding: 0 20px;
}

.gallery-container .gallery-item img {
    border-radius: 15px;
    max-width: 426px;
    height: 100%;
    min-height: 240px;
    max-height: 240px;
}