.footer {
  width: 100%;
  margin: 0 auto;
  min-height: 60px;
  padding-top: 7px;
  position: fixed;
  bottom: 0;
  padding-bottom: env(safe-area-inset-bottom);
  display: flex;
  justify-content: center;
  background-color: #fff;
  font-family: var(--font-onest);
}

.footerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 512px;
  padding-right: 24px;
  padding-left: 30px;
  width: 100%;
}

.icon {
  transition: stroke 0.3s ease;
}

.icon:hover,
.iconActive:hover {
  cursor: pointer;
}

.iconActive path {
  stroke: #7462ff !important;
}

.iconDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.iconText {
  color: #a1a1a1;
  font-family: var(--font-onest);
  font-weight: 600;
  font-size: 12px;
}

.iconTextActive {
  color: #7462ff;
}
