.main {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 19px 30px 0;
    margin: 0 auto;
    margin-bottom: 150px;
    max-width: 512px;
    width: 100%;
}

.hero {
    position: sticky;
    top: 19px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #FFFFFF;
}

.hero .back {
    font-family: var(--font-unbounded);
    font-size: 14px;
    font-weight: 600;
    color: #0066DE;
}

.hero h1 {
    font-family: var(--font-unbounded);
    font-size: 20px;
    font-weight: 700;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input ::placeholder {
    font-size: 14px;
    font-family: var(--font-unbounded);
    color: #4E4E4E;
}

.input label {
    font-size: 14px;
    font-weight: 600;
    color: #797979;
    font-family: var(--font-unbounded);
}

.input input {
    font-size: 14px;
    font-family: var(--font-unbounded);
    font-size: 14px;
    font-weight: 500;
    border-radius: 15px;
    background: #F1F1F1;
    padding: 19px;
    border: none;
    color: #4E4E4E;
    appearance: none;
}

.footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: fixed;
    left: 30px;
    right: 30px;
    bottom: 40px;
    text-align: center;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    width: 100%;
    max-width: 512px;
    border-radius: 15px;
    font-size: 14px;
    font-family: var(--font-unbounded);
    border: none;
    margin: 0 auto;
}

.button.next {
    color: #FFFFFF;
    background: #0066DE;
}