.stats-wrapper {
    display: flex;
    align-items: center;
    margin: 0 0.5rem 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid #dcdcdc;
}

.stats-element {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 0;
}

.stats-element+.stats-element {
    border-left: 1px solid #dcdcdc;
}

.stats-element-info {
    font-size: 2em;
}

.stats-element-name {
    font-size: 0.8em;
    font-weight: 300;
}